In [3]:
import numpy as np
import pandas as pd
import sqlite3 as sql3

In [14]:
conn = sqlite3.connect(':memory:')
print(conn)
cur = conn.cursor()
cur.executescript(open('files/van_crime_2003.sql', 'r').read())
print(cur)

<sqlite3.Connection object at 0x0000012379C24C60>
<sqlite3.Cursor object at 0x000001237A736180>

In [17]:
crimes = pd.read_sql("SELECT * FROM van_crimes;",conn)

In [19]:
crimes.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Theft from Vehicle,2003,6,28.0,13.0,30.0,8XX EXPO BLVD,Central Business District,491771.63,5458295.01
1,Theft from Vehicle,2003,11,17.0,16.0,0.0,56XX OAK ST,South Cambie,490682.32,5453536.96
2,Theft from Vehicle,2003,12,30.0,14.0,0.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36
3,Theft of Vehicle,2003,1,15.0,14.0,45.0,6XX W 41ST AVE,Oakridge,491372.94,5453422.83
4,Theft from Vehicle,2003,12,28.0,16.0,45.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36

In [20]:
late_crimes = crimes[crimes['HOUR']>=18]
late_crimes.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
12,Theft of Vehicle,2003,9,2.0,21.0,0.0,20XX E 28TH AVE,Kensington-Cedar Cottage,495267.03,5454779.05
13,Theft from Vehicle,2003,9,27.0,22.0,30.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36
14,Theft from Vehicle,2003,12,17.0,21.0,0.0,31XX WILLOW ST,Fairview,491115.72,5456039.96
18,Theft from Vehicle,2003,9,1.0,20.0,10.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36
19,Theft from Vehicle,2003,8,17.0,19.0,0.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36

In [34]:
crimes_by_month={}
for i in range(12):
    no_crimes=crimes[crimes['MONTH']==i+1]['MONTH'].count()
    crimes_by_month[i+1]=no_crimes

dangerous_month_crimes=0
dangerous_month=0
for key, value in crimes_by_month.items():
    if value>dangerous_month_crimes:
        dangerous_month_crimes=value
        dangerous_month=key
    else:
        continue

print(dangerous_month," ", dangerous_month_crimes)

5   31

## The solutions approach uses a function DF method I didn't know:

In [35]:
month_df = crimes.loc[:, 'MONTH']
month_df.head(20)

#dangerous_month_crimes = van_crimes_df.loc[:, 'MONTH'].value_counts().head(1)

0      6
1     11
2     12
3      1
4     12
5     12
6     12
7      1
8      2
9     11
10    10
11    10
12     9
13     9
14    12
15     3
16     9
17     9
18     9
19     8
Name: MONTH, dtype: int64

In [37]:
month_df.value_counts() #nice little aggregating function

5     31
6     27
12    25
9     24
1     23
2     19
10    19
4     19
3     17
7     17
11    15
8     14
Name: MONTH, dtype: int64